# Ignore all virtual environments in the project

**/venv310/

**/venv310*/

**/.venv310/

*.pth

**/media/

**/.media/
# Ignore Python environment files

*.env

.env



# Ignore compiled Python files

__pycache__/

*.pyc

*.pyo

*.pyd



# Ignore editor and system files

.vscode/

.DS_Store